<% provide(:title, 'All users') %>
<h1>All users</h1>

<p>
  Download:
  <%= link_to "CSV", users_path(format: "csv") %> |
  <%= link_to "Excel", users_path(format: "xls") %>
</p>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
 No newline at end of file
